
<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{adm/infra/include/head :: head}"></head>

	<body>

		<!-- Page wrapper start -->
		<div class="page-wrapper">
			
			<!--헤더 블록 -->
			<header>
				<div th:replace="~{adm/infra/include/header :: header}"></div>
			</header>

			<!-- Main container start -->
			<div class="main-container">

				<!-- nav 블록 -->
				<nav class="sidebar-wrapper">
					<div th:replace="~{adm/infra/include/nav :: nav}"></div>					
				</nav>


				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Main header starts -->
					<div class="main-header d-flex align-items-center justify-content-between position-relative">
						<div class="d-flex align-items-center justify-content-center">
							<div class="page-icon">
<!-- 								<i class="bi bi-window-split"></i> -->
							</div>
<!-- 							<div class="page-title d-none d-md-block"> -->
<!-- 								<h5>Tables</h5> -->
<!-- 							</div> -->
						</div>
						<!-- Live updates start -->
						<ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-envelope-paper text-red font-1x me-2"></i>
									<span>12 emails from David Michaiah.</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-bar-chart text-blue font-1x me-2"></i>
									<span>15 new features updated successfully.</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-folder-check text-yellow font-1x me-2"></i>
									<span>The media folder is created successfully.</span>
								</a>
							</li>
						</ul>
						<!-- Live updates end -->
					</div>
					<!-- Main header ends -->

					<!-- Content wrapper start -->
					<div class="content-wrapper">
						<!-- Row start -->
						<div class="row gx-3">
							<div class="col-sm-12 col-12">
								<div class="card">
									<div class="card-body">
										<div class="card-header">
											<div class="card-title">코드그룹 관리</div>
										</div>
										<form method="post" action="codeGroupUpdate">
											<div class="row">
												<div class="col-lg-6 col-sm-4 col-12 gy-2">
													<label class="form-label">seq</label>
													<input type="text" name="codeGroupSeq" th:value="${item.codeGroupSeq}" class="form-control">
												</div>
												<div class="col-lg-6 col-sm-4 col-12 gy-2">
													<label class="form-label">코드그룹 이름</label>
													<input type="text" id="codeGroupName" name="codeGroupName" th:value="${item.codeGroupName}" class="form-control">
													<div id="codeGroupNameFeedback" class="invalid-feedback"></div>
												</div>
												<div  class="col gy-2">
													<button type="submit" class="btn btn-primary"><a th:href="@{/codeGroupXdmList(codeGroupSeq=${item.codeGroupSeq})}" th:text="뒤로가기"></a></button>
												</div>
												<div class="col gy-2" align="right">	
													<button type="submit" class="btn btn-primary" onclick="javascript: form.action='codeGroupDelete';">데이터 삭제</button>
													<button type="submit" class="btn btn-primary" onclick="javascript: form.action='codeGroupUelete';">N,Y수정</button>
													<button type="submit" id="btnSubmit" class="btn btn-primary" onclick="javascript: form.action='codeGroupUpdate';">저장</button>
												</div>
											</div>
										</form>
										
										
								</div>
							</div>
						</div>
					</div>
							
						<!-- Row end -->

					</div>
					<!-- Content wrapper end -->

				</div>
				<!-- Content wrapper scroll end -->

				<!-- App Footer start -->
				<div class="app-footer">
					<span>© Gear admin 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- Main container end -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<!--<script src="/adm/template/gear/assets/js/jquery.min.js"></script> -->
		<script src="/adm/template/gear/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/adm/template/gear/assets/js/modernizr.js"></script>
		<script src="/adm/template/gear/assets/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="/adm/template/gear/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="/adm/template/gear/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- News ticker -->
		<script src="/adm/template/gear/assets/vendor/newsticker/newsTicker.min.js"></script>
		<script src="/adm/template/gear/assets/vendor/newsticker/custom-newsTicker.js"></script>

		<!-- Main Js Required -->
		<script src="/adm/template/gear/assets/js/main.js"></script>
		
		<!-- Data Tables -->
		<script src="/adm/template/gear/assets/vendor/datatables/dataTables.min.js"></script>
		
		<script type="text/javascript">
			
		
		</script>
		
	</body>
	
	<script type="text/javascript">
	
	let goUrlXdmList = "/codeGroupXdmList";
	let goUrlXdmLogin = "/codeGroupLogin";
	let goUrlXdmForm = "/codeGroupForm";
	let goUrlXdmUpdt = "/codeGroupUpdate";
	let goUrlXdmInsert = "/codeGroupInsert";								/* ### */
	
		
	document.getElementById("btnSubmit").onclick = function () {
		if(validationInsert() == false){
			return false;
		} else { 
			form.action = goUrlXdmUpdt;
			form.submit();
		}

	}
	
	function validationInsert(){
		if(validationUpdt() == false) return false;

	}
	
	function validationUpdt(){
		if(!checkOnlyEnglish('codeGroupName', 2, 0, "코드 이름은 영문대소문자만 입력 가능합니다.")) return false;
	}
	
	
	</script>

</html>
