<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotsix.infra.codegroup.CodeGroupDao">
<resultMap id="resultMapObj" type="com.hotsix.infra.codegroup.CodeGroupDto"></resultMap>
	
	<sql id ="selectCommon">
        FROM codeGroup 
        WHERE 1=1
<!--           <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if>  -->
        <if test="shDelny != null and !shDelny.equals('')">AND codeGroupDelNy = #{shDelny}</if> 
       
				<choose>
					<when test="shOptionDate == 1">AND codeGroupRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND codeGroupModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
     
        <choose>
            <when test="shOption == 1">AND codeGroupSeq = #{shValue}</when>
            <when test="shOption == 2">AND codeGroupname LIKE CONCAT('%',#{shValue},'%')</when>
<!--              <when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
        </choose>
        </sql>
	
	
	<select id="selectList" resultMap="resultMapObj">
	SELECT
		codeGroupSeq
		,codeGroupName
		,codeGroupRegDate
		,codeGroupModDate
		,codeGroupDelNy
	 <include refid="selectCommon" />
        limit #{rowNumToShow} offset #{startRnumForMysql}

	</select>
	
	<select id="selectOne">
	SELECT
		codeGroupSeq
		,codeGroupName
		,codeGroupRegDate
		,codeGroupModDate
		,codeGroupDelNy
	FROM
		codeGroup
	WHERE 1=1
	AND codeGroupSeq = #{codeGroupSeq}
	</select>
	
	<insert id="insert">
	INSERT INTO codeGroup(
		codeGroupName
	)VALUES (
		#{codeGroupName}
	)
	</insert>
  	
  	<update id="update">
    	
    	UPDATE codeGroup 
    	set
    	codeGroupName = #{codeGroupName}
    	WHERE codeGroupSeq = #{codeGroupSeq}
  
    </update>
  	
<!--   	<update id="uelete"> -->
    	
<!--     	UPDATE codeGroup  -->
<!--     	set -->
<!--     		codeGroupDelNy = 1 -->
<!--     	WHERE 1=1  -->
<!--     	AND	codeGroupSeq = #{codeGroupSeq} -->
  
<!--     </update> -->
    
    <update id="uelete">
    	UPDATE codeGroup
    	SET
    		codeGroupDelNy = 1
    	WHERE 1=1
    		AND codeGroupSeq = #{codeGroupSeq}
    </update>
  	
  	<delete id="delete">
    	DELETE FROM  codeGroup
    	WHERE codeGroupSeq = #{codeGroupSeq}
    </delete>
  	
  	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
    	<include refid="selectCommon" />
	</select>
  	
  	
  	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			a.codeGroupSeq
			,a.codeGroupName
		FROM codeGroup a
		WHERE 1=1
			AND codeGroupDelNy = 0
		
	</select>
</mapper>