<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotsix.infra.product.ProductDao">
<resultMap id="resultMapObj" type="com.hotsix.infra.product.ProductDto"></resultMap>

<sql id ="selectCommon">
      from
		product
	  where 1=1 
		<!--AND d.memberTypeCd = 8-->
<!--         <if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if> -->
        <if test="shDelny != null and !shDelny.equals('')">AND productDelNy = #{shDelny}</if>
       
				<choose>
					<when test="shOptionDate == 1">AND productRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND productModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
    
        <choose>
            <when test="shOption == 2">AND productSeq = #{shValue}</when>
            <when test="shOption == 3">AND productName LIKE CONCAT('%',#{shValue},'%')</when>
            
            
<!--             <when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when> -->
        </choose>
       </sql>

<select id="selectList" resultMap="resultMapObj">
	select
		productSeq
		,productName
		,productCode
		,productPrice
		,productTypeCd
		,productAccount
		,productRegDate
		,productModDate
		,productDelNy
	<include refid="selectCommon" />         
      limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="productList">
		select
			productSeq
			,productName
			,productCode
			,productPrice
			,productTypeCd
			,productAccount
			,productRegDate
			,productModDate
			,productDelNy
		from
		product
	  where 1=1 
	</select>
	
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="companyList" resultMap="resultMapObj">
	select
		companySeq
		,companyName
	from
		company
	</select>
	
	<select id="memberOne" resultMap="resultMapObj">
	select
		memberSeq
		,memberName
	from
		member
	where
		companySeqF = #{companySeqF}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
		productSeq
		,productName
		,productCode
		,productPrice
		,productTypeCd
		,productAccount
		,productRegDate
		,productModDate
		,productDelNy
	from
		product
	WHERE 1=1
	AND productSeq = #{productSeq}	
	</select>
	
	
	<insert id="insert">
		INSERT INTO product(
			productName
			,productPrice
			,productTypeCd
			,productCode
			,memberSeqF
			,companySeqF
		)VALUES(
			#{productName}
			,#{productPrice}
			,#{productTypeCd}
			,#{productCode}
			,#{memberSeqF}
			,#{companySeqF}
		)
	</insert>
	
	
	<update id="update">
	update product
		set
			productName = #{productName}
            ,productPrice = #{productPrice}
         	,productTypeCd = #{productTypeCd}
         	,productCode = #{productCode}
    		where 1=1
    		and productSeq = #{productSeq}
		
	</update>
	
	<update id="uelete">
		update product
		set
		productDelNy = 1
    		where 1=1
    		and productSeq = #{productSeq}
	</update>
	
	<delete id="delete">
		delete from product
		where 1 = 1
			and productSeq = #{productSeq}
	</delete>	
		
</mapper>